
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // WARNING: These rules are completely open and insecure. 
    // They are intended for development purposes only.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
